.loadingspinner {
  --square: 35px;
  --offset: 40px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: #6576ff;
  border: none;
  border-radius: 5px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation: square1 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square2 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square3 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square4 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square5 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay))
      var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {
  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*---------- End Loader ----------*/
.loading {
  margin-top: 5rem;
}

.produk-none {
  margin-top: 1.75rem;
  padding: 15px;
}

.produk-none img {
  width: 75%;
  border-radius: 5px;
}

.produk-none p {
  font-size: 18px;
  font-weight: 600;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

input {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

.head {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.box-src {
  padding: 15px 0px;
}

.b-icon {
  margin-left: 15px;
}

.icon-head {
  font-size: 30px;
  margin: 0 10px;
  color: #6576ff;
}

.inp-trx {
  width: 100%;
}

.inp-trx input {
  padding: 7.5px 10px;
  border-radius: 5px;
  border: 1px solid #6576ff;
  width: 100%;
  font-size: 13px;
}

.data-trx {
  padding: 15px 0px;
}

.card-trx {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px 1px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.j-trx {
  font-weight: 700;
  font-size: 14px;
}

.i-trx {
  font-weight: 600;
  font-size: 13px;
  opacity: 0.85;
}

.t-trx {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
}

.infoz {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

.mr-l {
  margin-left: 15px;
}

.j-mod {
  font-size: 16px;
  font-weight: 600;
}

.form-toko {
  width: 100%;
  font-size: 13px;
  padding: 7.5px 10px;
  border-radius: 5px;
  border: 1px solid #6576ff;
}

.lab-mod {
  font-weight: 600;
  margin-bottom: 2.5px;
  opacity: 0.7;
}

.btn-print {
  background-color: #6576ff;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.btn-print:hover {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}


.x-cnv {
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.img-cnv {
  padding: 10px;
  border-radius: 50%;
}

.img-cnv img {
  width: 50px;
}

.box-top-canv p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.box-bot-canv {
  margin-top: 30px;
}

.list-canv {
  padding: 10px 0;
  margin-bottom: 5px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}

.kir-canv {
  font-weight: 600;
  opacity: 0.7;
}

.kan-canv {
  margin-left: 10px;
  text-align: right;
}

.ser-canv {
  margin-top: 5px;
  line-height: 17.5px;
}

.btn-copy {
  color: #6576ff;
  font-size: 20px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.btn-copy:hover {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.ter-p p {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.7;
}

.bor-bed {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.box-input-print p {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: 5px;
}

.box-input-print input {
  border: 1px dotted #6576ff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}


.lef-ser {
  overflow-wrap: break-word;
  width: 20rem;
}

.j-print {
  font-size: 18px;
  font-weight: 600;
}

.list-print p {
  font-size: 16px;
}

.inp-print {
  padding: 10px;
  border: 1px dotted #6576ff;
  border-radius: 5px;
  margin-top: 5px;
}

.prin-kiri {
  margin-right: 5px;
}

.prin-kanan {
  margin-left: 5px;
}

.linked,
.linked:focus,
.linked:hover {
  color: blue;
  text-decoration: underline;
}

.fyiz p {
  font-size: 20px;
}

.struk-custom {
  display: flex;
  justify-content: space-between;
  padding: 8px 7px;
  border-bottom: 1px dashed #364a6359;
  align-items: center;
}

.bg-struk {
  background-color: #09c2de33;
}


.col-struk {
  border-radius: 10px;
  flex: 0 0 auto;
  width: 5%;
  background-color: #b7c2d0;
  height: 25px;
  margin-top: -30px;
}

.batas {
  height: 10px;
  background: #00000000;
  border-bottom: 2px dashed #b7c2d0;
}
